    body {
      margin: 0;
      padding: 20px;
      font-family: Arial, sans-serif;
      background-color: #a74f7f;
    }

    .grid-container {
      display: grid;
      gap: 20px;
      margin: 200px;
    }

    .left-box,
    .right-top,
    .right-bottom {
      background-color: #ffb6c1;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(163, 236, 156, 0.2);
      text-align: center;
    }

    .left-box h1,
    .right-top h1,
    .right-bottom h1 {
      margin: 0 0 10px;
      font-size: 24px;
      color: #39ec51;
    }

    .left-box p,
    .right-top p,
    .right-bottom p {
      color: #3937e2;
    }

    @media (max-width: 767px) {
      .grid-container {
        grid-template-columns: 1fr;
      }

      .right-column {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }

    @media (min-width: 768px) {
      .grid-container {
        grid-template-columns: 2fr 1fr;
      }

      .right-column {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
      }
    }

    @media (min-width: 992px) {
      .grid-container {
        grid-template-columns: 2fr 1fr;
      }
    }


    @media (min-width: 1200px) {
      .grid-container {
        grid-template-columns: 2fr 1fr;
      }
    }

    .setup
    {
      padding: 20px;
      text-align: center;
      margin: 10px;
      color:aqua;
    }

    .item-image
{
object-fit: cover;
max-width: 70%;
max-height: auto;
padding: 5px;
transition: all 0.8s ease;
}

.item-image:hover 
{
    background-color: rgba(212, 233, 251, 0.177);
    transform: scale(1.5);
    z-index: 1;
}